$upload-width: 480px;
$upload-height: 270px;

.upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: $upload-width;
  height: auto;
  margin: 0 auto;
}

.upload-box {

  padding: 5%;
  max-width: $upload-width;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 5px dashed #e01919;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: border-color 0.2s, background-color 0.4s;

  &.dragover {
    background-color: #eff6ff;
    border-color: #3b82f6;
  }

  &.has-image {
    border-color: green;
  }

}

.overlay-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 10;
  background-color: #b0b4b9;
  color: #747474;

  &:hover {
    animation: shake 0.8s ease-in-out;

  }
}

.upload-label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4b5563;
  text-align: center;

  input[type="file"] {
    display: none;
  }

  &.dragover {
    animation: shake 0.4s ease-in-out;
  }
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}



@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-4px);
  }

  40% {
    transform: translateX(4px);
  }

  60% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}